@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
body{
    font-family: 'Poppins';
    background: url('https://cms-assets.tutsplus.com/cdn-cgi/image/width=800/uploads/users/1851/posts/29256/final_image/js-product.png');
    background-repeat: repeat-y;
    background-size: 40%;



}

.col-md-5 {
    padding-top: 5em;
}

.form-control{
    margin-top: 3px;
}

.btn{
    margin-top: 3px;
    background-color: rgb(255, 207, 47);
    border-color: rgb(255, 207, 47);
    margin-bottom: 5px;
    
}

.alert-dismissible .btn-close{
    background-color: white;
}

.title{
    width: 8em;
}

.documentation{
    width: 20em;

}

.card{

    margin-left: 15px;
    margin-right: 8em;

}


.col-md-7 h1{
    color: rgb(240, 240, 27);
    text-align: center;
    font-weight: 100px;
    border-bottom: 15px solid black;
    padding-bottom: 5px;
    margin-bottom: 10px;

}

.input1 .form-control{
    height: 20em;
    font-display:initial;
}


.dataTables_wrapper .dataTables_filter input{
    border-radius: 7px
}

.alert{
    margin-left: -4.3em;
    margin-right: 9em;
    background-color:  black;
    margin-left: 1em;
}


.dataTables_wrapper{
    padding-top: 20px;
}

.dataTables_wrapper .dataTables_length select{
    background-color: white;
    border-color: white;
    border-radius: 5px;
    border-color:black;
}
.dataTables_wrapper .dataTables_filter input{
    background-color: white;
    margin-bottom: 10px;
}

@media screen and (max-width: 990px) {

    .card.card-body{
        width: 20em;
        align-items: center;
    }

    .col-md-7 h1{
        color: white;
    }

    .ilustration{
        display: none;
    }

    .col-md-5{
        width: 20em;
    }

    body{
        background-size: 100%;
    }

    .row{
        align-items: center;
    }

    .alert{
        margin-right: -2.5em;
    }
    
}

@media screen and (max-width: 767.78px) {

    .card.card-body{
        width: 20em;
        margin-left: 4.5em;
    }

    .alert{
        margin-right: -4.5em;
        margin-left: 7em;
    }



}

